body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #404040;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: .4px;
  background: #EAEAEA;
  padding-top: 30px;
}

.card {
	margin: 20px;
}

.image {
  height: 200px;
  opacity: .7;
  overflow: hidden;
  transition: all .2s ease-in-out;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.image:hover,
.card:hover .image {
  height: 200px;
  opacity: 1;
}

.text {
  background: #FFF;
  padding: 20px;
  min-height: 200px;
}

.text p {
  margin-bottom: 20px;
}

.fab {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  margin-top: -50px;
  right: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #0066A2;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.fab:hover {
  background: #549D3C;
  cursor: pointer;
  -ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.overline {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 0px;
  
}
.h4 {
  color: #018786;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 0px;
}
.cta-container {
    display: none;
    margin-top: 320px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.cta {
    -moz-border-radius: 4px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 4px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    background-color: #018786;
    border: 2px solid #018786;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}
.cta:hover {
    background-color: #018786;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.poweredBy {
  text-align: center;
  padding: 10px;
}
.poweredBy img {
  text-align: center;
  padding: 10px;
}
.textLinks {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
.socialLinks {
  text-align: center;
  padding: 20px;
}

a:link {
  color: #343A40;
	text-decoration: none;
}

.logoContainer {
  padding: 40px 20px;
  text-align: center;
}

.rv_image{
  height: auto;
  width: 95%;
  display: block;
  padding: 10px;
  text-align: center;
}

.container{
  text-align: center;
 

}

.col-sm{
  padding: 20px;
  color: #0066A2;
}